/* -----------------------------------------------------------------------------
// This file includes deliberate errors in order for you to verify that
// Stylelint and EditorConfig are working properly. If both tools are, indeed,
// working correctly, then you’d see various errors in your editor about
// indentation and violations of CSS syntax. When you save this file, your
// editor should strip all excess newlines and whitespace characters from the
// file. If both of these events occur, then Stylelint and EditorConfig are
// working correctly.
//
// DON’T PROCEED UNTIL YOU’RE SURE STYLELINT AND EDITORCONFIG ARE WORKING RIGHT
// -------------------------------------------------------------------------- */
p {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    line-height: 1.1875;
}























